header, footer {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.container {
    flex-grow: 1;
    display: flex;
    width: 100vw;

    aside {
        max-width: 15vw;
    }
    
    main {
        flex: 1;
        padding-left: 20px;
        .content {
            margin: 0 auto;
            width: 90%;

        }
        /* .theme_header{
            text-align: center;
        } */
        .navigate_arrow{
            display: flex;
            justify-content: space-evenly;
            padding: 10px;
            margin: 10px;
            border: 1px solid black;
        }
    }
}