header, footer {
    text-align: center;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container {
    flex-grow: 1;
    display: flex;
    width: 100%;

    aside {
        position: fixed;
        top: 0;
        max-width: 20%;
        height: 95%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    
    main {
        padding-left: 20%;
        max-width: 80%;
        flex: 1;
        margin: 0 auto;
        .content {
            margin: 0 auto;
            width: 90%;
        }
        /* .theme_header{
            text-align: center;
        } */
        .navigate_arrow{
            display: flex;
            justify-content: space-evenly;
            padding: 10px;
            margin: 10px;
            border: 1px solid black;
        }
    }
}
.task {
    border: 1px dashed black;
    padding: 20px;
    margin: 10px;
    pre {
        overflow-x: auto;
    }
}